* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body { 
    background-color: #995BED;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    height: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.profile {
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    width: 300px;
}

.profile-resume {
    align-items: center;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.profile-resume-image-cropper {
    border-radius: 50%;
    height: 100px;
    margin-bottom: 8px;
    overflow: hidden;
    position: relative;
    width: 100px;
}

.profile-resume-image {
    display: inline;
    height: 100%;
    width: auto;
}

.profile-resume-username {
    font-size: large;
    margin-bottom: 8px;
}

.profile-bio {
    border-bottom: 1px solid lightgray;
    margin-bottom: 8px;
}

.profile-bio-paragraph {
    font-size: small;
    margin-bottom: 8px;
}

.profile-nav {
    list-style: none;
}

.profile-nav-link {
    font-size: small;
}